/* --------rgb()----------- */
h1{
    color : rgb(34,67,145);
}

/*----------rgba()-----------*/
h2{
    color : rgb(34,67,145,0.3);
}

/* -------------hexadecimmal--------- */
h3{
    color : #aaf9f9;
}
