h1{
    color :blueviolet;
    text-align: center;
    transition-duration: 800ms;
}
h1:hover{
    /* transform : translateX(50px);
    transform : translateY(50px);    */
    /* transform : translate(50px, 50px); */

    /* transform : rotateX(90deg); */
    /* transform : rotateY(180deg); */

    transform : scaleX(2);
    /* transform : scaleY(1.5); */
}